@page
@model BYR_WebApp.Pages.Authentication.TryLoginModel
@{
    ViewData["Title"] = "Login";
    
}

<h2 class="text-center">
    Log in to your account
</h2>


<div class="text-center">

    @* <form method="post">
            <!--php etc nodig?-->
            <label for="email">Email: </label><br>
            <input type="email" id="email" name="email" required maxlength="45"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required maxlength="45"><br><br>

            <input type="submit" class="btn btn-primary" value="Login">
        </form> *@

    <form method="post">

       @*Voor validatie*@

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="LoginModel.Email" class="control-label"> </label>
            <input asp-for="LoginModel.Email" class="form-control" />
            <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LoginModel.Password" class="control-label"> </label>
            <input asp-for="LoginModel.Password" type="password" class="form-control" />
            <span asp-validation-for="LoginModel.Password" class="text-danger"></span> <br><br />
        </div>

        <div class="form-group">
            <label asp-for=LoginModel.IsEmployee class="control-label"> </label>
            <input asp-for="LoginModel.IsEmployee" type="checkbox" class="form-check-input" />
            <span asp-validation-for="LoginModel.IsEmployee" class="text-danger"></span> <br><br />
        </div>

        <input type="submit" class="btn btn-primary" value="Login">
        @*onderstaande is AI, waarom niet op de bovenstaande manier op te schrijven?*@
        <a class="btn btn-danger" asp-page="/Index">Cancel</a>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}