@page
@model BYR_WebApp.Pages.Ride.ActionsModel
@{
    ViewData["Title"] = "Ride Actions";
}

<div class="text-center">



    <form method="post">
        

        <input type="submit" asp-page-handler="Book a Ride" class="btn btn-primary" value="Create Ride" />
        @*onderstaande misschien voor toekomstige updates?*@
        @*<input type="submit" asp-page-handler="UpdateRide" class="btn btn-warning" value="Update Ride" />*@
        <input type="submit" asp-page-handler="Delete a Ride" class="btn btn-danger" value="Delete Ride" />
    </form>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}