@page
@model BYR_WebApp.Pages.Ride.ActionsModel
@{
    ViewData["Title"] = "Ride Actions";
}

<div class="text-center">



    <form method="post">
        @*AI buttons, heb niet alle nodig, alleen ter voorbeeld*@
        <input type="submit" asp-page-handler="CreateRide" class="btn btn-primary" value="Create Ride" />
        <input type="submit" asp-page-handler="ViewRides" class="btn btn-secondary" value="View Rides" />
        <input type="submit" asp-page-handler="UpdateRide" class="btn btn-warning" value="Update Ride" />
        <input type="submit" asp-page-handler="DeleteRide" class="btn btn-danger" value="Delete Ride" />
    </form>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}