@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    var firstName = Request.Cookies["firstname"];
}

@*Switch statement to greet at current time*@
@{
    var txt = "";
    int currentTime = DateTime.Now.Hour;
    switch (currentTime)
    {
        case < 6:
            txt = "Good Night";
            break;
        case < 12:
            txt = "Good Morning";
            break;
        case < 18:
        txt = "Good Afternoon";
            break;
        case >= 18:
            txt = "Good Evening";
            break;
    }
}
    


<div class="text-center">
    <h1 class="display-4">@txt @firstName, ready to Book Your Ride?</h1>
</div>


@*AI gegenereerde buttons*@

<div class="text-center">
    <p>Log in to your account:</p>
    <a class="btn btn-primary" asp-page="/Authentication/TryLogin">Login</a>
</div>

<div class="text-center">
    <p>Don't have an account? <br /> Register here:</p>
    <a class="btn btn-secondary" asp-page="/Authentication/Register">Register</a>
</div>


